{
  "AWSEBDockerrunVersion": 2,
  "containerDefinitions": [
    {
      "name": "app",
      "Image": "<AWS_ACCOUNT_ID>.dkr.ecr.us-east-1.amazonaws.com/<EB_APP_NAME>:<TAG>",
      "environment": [
        {
          "name": "NODE_ENV",
          "value": "production"
        }
      ],
      "essential": true,
      "memory": 2048,
      "portMappings": [
        {
          "hostPort": 80,
          "containerPort": 80
        }
      ]
    }
  ]
}
